.datatable{
    height: 110vh !important;
}
.showvendor_info label{
    color:#B1B3B5;
}
.invoicedatatable{
    height: 155vh !important;
}

.addnewvendor label{
    color:#b7c0cc ;
    font-size: 12px;
}
.datatable .formtitle {
margin-left: 50px;
}