.labourform .show-material{
    /* background-color: red; */
    width: 100% !important;
    width: 800px !important;
    display: flex;
    justify-content: center;
}
/* .labourform .show-material .material-item{
   background-color: aliceblue;
   padding: 10px;
} */

.materialname{
    color: #0a0a0a !important;
    border: 0.5px solid rgb(255, 252, 252);
    margin-left: 10px;
    background-color: rgb(245, 238, 222);
    padding: 4px;
    border-radius: 5px;
}