.addproduct_form .formInput{
    width: 65% !important;
    /* background-color: red; */

}

.link{
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .radio-btn-sec{
    display: flex;
    justify-content: center;
  }


  .popdropdown{
    width: 380px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(211, 209, 209);
}

#login-form .form-control {
  border: none;
  border-bottom: 1px solid rgb(205, 201, 201);
  width: 380px;
}