/* .productSales.form-control {
    width: 250px !important;
} */
.productSales.input-group.form-control {
    width: 10% !important;
}
.invoice_sales_list.row{
    height: 130vh !important;
}
.input-size{
    width: 20% !important;
}
.salesinputs{
    margin-left: -80px !important;
}
.damageform.form-control{
    width: 500px !important;
}


.pagination .active {
    background-color: #F7AD1A; 
    color: #ffffff; 
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;

  }
.page-item {
    margin: 10 5px !important; 
  }
  li.next a{
    text-decoration: none !important;
    padding: 6px;
    margin:4px;
    background-color: #f6a516;
    color: black;
    border-radius: 3px;
  }
  li.previous a{
    text-decoration: none !important;
    padding: 6px;
    margin:4px;
    background-color: #f6a516;
    color: black;
    border-radius: 3px;
}

.table {
   border-top: none !important;
   border: 1px solid #eef0f2;
}
.table thead{
    background-color: #3ba83d;
    color:white;
}
.table td {
  color: gray;
}
.btn-primary{
    background-color: #1a0c6b !important;
    outline: none !important;
    height: 41.5px;
    
}
.btn-primary:focus{
    outline: none !important;
}
.form-outline #search-input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.form-outline #search-input:focus{
    outline: none !important;
}
.useraction-btns{
    margin-left: -80px;
}

.actions-btns{
    display: flex;
    justify-content: space-around;
}
.actions-btns .view{
    color: #1a0c6b;
}
.actions-btns .edit{
    color: #f5a208;
}
.actions-btns .delete{
    color: #f32119;
}

.actions-btns .action-view{
margin-left: -100px;
}
.formula-tails{
    display: flex !important;
    
}